@page
@model QuanLyHangHoa.Pages.MH_ThemHangHoaModel

<form method="POST">
    <label for="ma_hang">Nhập mã hàng hóa:</label><br>
    <input type="text" name="MaHang" value="@Model.h.maHang"><br>

    <label for="ten_hang">Nhập tên hàng hóa:</label><br>
    <input type="text" name="TenHang" value="@Model.h.tenHang"><br>

    <label for="loai_hang">Nhập loại hàng hóa:</label><br>
    <input type="text" name="LoaiHang" value="@Model.h.loaiHang"><br>

    <label for="cong_ty">Nhập công ty sản xuất:</label><br>
    <input type="text" name="CongTySX" value="@Model.h.congTySX"><br>

    <label for="nam_san_xuat">Nhập năm sản xuất:</label><br>
    <input type="number" name="NamSX" value="@Model.h.namSX"><br>

    <label for="han_dung">Nhập hạn dùng (tháng):</label><br>
    <input type="number" name="HanDung" value="@Model.h.hanDung"><br>
    
    <input type="submit" value="Thêm hàng hóa"><br>
</form>

@section Scripts
{
    <div>Nhập thông tin hàng hóa.</div>
}

<form method="POST">
    <input type="button" onclick="window.location.href = 'MH_DanhSachHangHoa'" value="Trở về danh sách hàng hóa"/>
</form>

@Model.Chuoi